@charset "UTF-8";

body{
    max-width: 50%;
  	margin:  0 auto;
  	padding-light: 200px;
  	border: solid 1px #000000;
  	background-color:#eaeaea;
    background-size:contain
}


h1, p{
	margin-top: 0;
}

.delete{
	padeding-top:5px;
}

.button-delete{
    border: 0px;
    width:24px;
    height:24px;
	background: url("delete_icon.png") left top no-repeat;
}

.button-delete:hover{
	background: url("delete_icon_hover.png") left top no-repeat;
}






